/*

#219653ff
#3d4451
#eb5757ff
#1f242d
#a6adbaff
*/

body {
	margin: 0;
    padding: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
